

*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: quicksand;
}
nav li {
    display: inline;
    list-style-type: none;
    padding: 20px;
    position: relative;
    left: 35%; top: 20px;
    font-family: sans-serif;
    
    font-size: 13px;
    text-decoration:none;
}
li a{
    text-decoration: none;
    color: black;
}
a:hover{
    text-decoration: underline;
    padding-top: 100px

}
.intro{
    display: inline-block;
    margin-left: 35%; margin-top: 70px;
    width: 500px;

}
.intro img{
    border: 1px solid black;
    border-radius: 50%;
    margin-top: 10px;
}
.about{
    margin-left: 130px; 
    position: relative;
    top: -100px; 
}
.about h3{
    font-size: 25px;
    margin-bottom:20px;
}
.about p{
    font-size: 13px;
}
h2{
    text-align: center;
    margin-top: 50px;
    font-size: 40px;
}
.images{
    margin-left: 50px;
    padding: 70px;
    display: inline-block;
}
.images p{
   
    font-size: 90px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: -40px;
}
.one{
    margin-top: -70px;
}
.two{
    margin-bottom: 100px; margin-left: 10px;
}
.three{
   margin-left: -200px; margin-bottom: -90px;  
}
.four{
    margin-left: -230px; margin-bottom: 110px;
}
.five{
    margin-left: -220px; margin-bottom: -180px;
}
.six{
    margin-left: 30px;
}
.one,.two,.three,.four,.five,.six{
    border: 1px solid rgba(80, 75, 75, 0.256);
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(116, 113, 113, 0.814);
}
.one:hover,
.two:hover,
.three:hover,
.four:hover,
.five:hover,
.six:hover{
    transform: scale(1.04);
    transition: 0.3s;

}


.contact{
  margin-top: 150px;
  display: block;
  width: 400px;
  margin-left: 35%;
}
.contact h2{
    text-align: left;
    font-size: 25px;
    margin-bottom: 10px;
    margin-left: 30px;
}
.contact input{
    margin-top: 10px;
    width: 80%;
    height: 40px;
    margin-left: 10px; 
    border-bottom: 1px solid rgb(48, 46, 46);
}

    